html{
    box-sizing: border-box;
}

img{
    object-fit: contain;
}

.dropdown-item:hover{
    background-color: rgb(0, 32, 213);
}

nav{
    margin-left: -12px;
}

.first-row{
    margin-inline: 25% 25%;
}

.second-row{
    margin-inline: 25% 25%;
}

.bi-pen {
    top: 165px;
    left: 25px;
  }